body{
    background-color: rgb(99, 127, 131);
    background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p3/1987871-abstrato-preto-listras-diagonal-fundo-grátis-vetor.jpg");
    background-repeat: no-repeat;
}
.contato{
    text-align: center;
    font-size: 25px;
    color: aqua;
}
h1{
    text-align: center;
    color: brown;
    font-size: 40px;
}

a{
    color: aqua;
}
button{
    
    padding: 10px;
    background-color: black;
}

.btn-1{
   color: aqua;
}
