body{
    

}
h1{
    text-align: center;
    margin: auto;
    color: aqua;

}
h2{
    padding-left: 650PX;
    margin-top: 20px;
}
h4{
    
    padding-left: 650px;
    margin-top: 2PX;
   
}
h3{
    padding-left: 650PX; 
    color: black;
}